@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sector-btn {
        @apply px-6 py-3 rounded-full border font-semibold transition;
    }

    .sector-btn.active {
        @apply bg-[#334168] text-white border-[#334168];
    }

    .variant {
        @apply px-4 py-3 border rounded-lg text-sm cursor-pointer transition;
    }

    .variant:hover {
        @apply border-[#334168];
    }
}

.thumb {
    @apply h-16 w-20 cursor-pointer rounded-lg border border-gray-200 object-cover transition;
}

.thumb.active {
    @apply border-[#334168];
}

.accordion {
    @apply rounded-xl border border-[#334168] bg-white;
}

.accordion-btn {
    @apply flex w-full items-center justify-between px-5 py-4 text-sm font-semibold text-[#334168];
}

.accordion-content {
    @apply hidden border-t px-5 py-4 text-sm text-[#334168];
}

.accordion.open .accordion-content {
    @apply block;
}

/* Sembunyikan scrollbar tapi tetap bisa di-scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
